@model AthleteCreateFormModel

@{
	ViewBag.Title = "Wellcome new athlete.";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"] != null)
{
	<div class="alert alert-danger" role="alert">
		@ViewData.ModelState["Error"].Errors.First().ErrorMessage
	</div>
}
<h4 class="text-center">Before we can proceed. Please enter your First and Last name.</h4>
<hr />
<form method="post">
	<div class="form-group">
		<label asp-for="FirstName"></label>
		<input asp-for="FirstName" class="form-control" type="text" placeholder="First Name.">
		<span asp-validation-for="FirstName" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="LastName"></label>
		<input asp-for="LastName" class="form-control" type="text" placeholder="Last Name.">
		<span asp-validation-for="LastName" class="text-danger"></span>
	</div>
	<div>
		<p></p>
	</div>
	<div>
		<div class="d-grid gap-5 d-md-flex justify-content-md-center">
			<input class="btn btn-light btn-outline-dark btn-toolbar" type="submit" value="Save" />
		</div>
	</div>
</form>

@section Scripts {
	<partial-name ="_ValidationScriptsPartial" />
}