@model AthleteDetailsEditFormModel

@{
	ViewBag.Title = "Edit Your Personal Details.";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"] != null)
{
	<div class="alert alert-danger" role="alert">
		@ViewData.ModelState["Error"].Errors.First().ErrorMessage
	</div>
}
<hr />
<form method="post">
	<div class="form-group">
		<label asp-for="FirstName"></label>
		<input asp-for="FirstName" class="form-control" type="text" placeholder="Firs name.">
	</div>
	<div class="form-group">
		<label asp-for="LastName"></label>
		<input asp-for="LastName" class="form-control" type="text" placeholder="Last name.">
	</div>
	<div class="form-group">
		<label asp-for="Age"></label>
		<input asp-for="Age" class="form-control" type="text" placeholder="Age">
	</div>
	<div class="form-group">
		<label asp-for="Height"></label>
		<input asp-for="Height" class="form-control" type="text" placeholder="Height">
	</div>
	<div class="form-group">
		<label asp-for="Weight"></label>
		<input asp-for="Weight" class="form-control" type="text" placeholder="Weight">
	</div>
	<div>
		<p></p>
	</div>
	<div>
		<div class="d-grid gap-5 d-md-flex justify-content-md-center">
			<input class="btn btn-light btn-outline-dark btn-toolbar" type="submit" value="Save" />
		</div>
	</div>
</form>

@section Scripts {
	<partial-name ="_ValidationScriptsPartial" />
}