@model ExerciseViewModel

<div class="row row-cols-1 row-cols-md-1 g-1">
    <div class="col">
        <h5 class="fw-bold text-center">@Model.Name</h5>
        <hr />
        <p class="text style="max-width: auto">@Model.Description</p>
    </div>
</div>