@model GymMembershipRenewFormModel

@{
	ViewBag.Title = "Renew membership";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"] != null)
{
	<div class="alert alert-danger" role="alert">
		@ViewData.ModelState["Error"].Errors.First().ErrorMessage
	</div>
}

<form method="post">
	<div class="form-group">
		<label asp-for="StartDate"></label>
		<input asp-for="StartDate" class="form-control" type="text" placeholder="@Model.StartDate">
		<span asp-validation-for="StartDate" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="EndDate"></label>
		<input asp-for="EndDate" class="form-control" type="text" rows="3" placeholder="@Model.EndDate">
		<span asp-validation-for="EndDate" class="text-danger"></span>
	</div>
	<div></div>
	<hr />
	<div></div>
	<div>
		<div class="d-grid gap-5 d-md-flex justify-content-md-center">
			<input class="btn btn-light btn-outline-dark btn-toolbar" type="submit" value="Save" />
		</div>
		<div />
</form>

@section Scripts {
	<partial-name ="_ValidationScriptsPartial" />
}