@{
	ViewData["Title"] = "Error";
}

<div class="row">
	<div class="col-3"></div>
	<div class="col-6">
		<br>
		<div class="row">
			<div class="col-10">
				<div class="text-left h4">
					<p>Well, This is unexpected. Error code:401. An Error has occurred, and we are working to fix the problem! We will be up and running shortly</p>
				</div>
				<div class="text-left h4"> Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>
			</div>
		</div>
	</div>
	<div class="col-3"></div>
</div>