@model GymDetailsFormViewModel

@{
	ViewBag.Title = "Edit Your Gym Details.";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"] != null)
{
	<div class="alert alert-danger" role="alert">
		@ViewData.ModelState["Error"].Errors.First().ErrorMessage
	</div>
}
<hr />
<form method="post">
	<div class="form-group">
		<label asp-for="Name"></label>
		<input asp-for="Name" class="form-control" type="text" placeholder="Gym Name.">
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Address"></label>
		<input asp-for="Address" class="form-control" type="text" placeholder="Gym Address.">
		<span asp-validation-for="Address" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="PhoneNumber"></label>
		<input asp-for="PhoneNumber" class="form-control" type="text" placeholder="Gym Phone Number.">
		<span asp-validation-for="PhoneNumber" class="text-danger"></span>
	</div><div class="form-group">
		<label asp-for="PricePerMonth"></label>
		<input asp-for="PricePerMonth" class="form-control" type="text">
		<span asp-validation-for="PricePerMonth" class="text-danger"></span>
	</div>
	<div>
		<p></p>
	</div>
	<div>
		<div class="d-grid gap-5 d-md-flex justify-content-md-center">
			<input class="btn btn-light btn-outline-dark btn-toolbar" type="submit" value="Save" />
		</div>
	</div>
</form>

@section Scripts {
	<partial-name ="_ValidationScriptsPartial" />
}